Armlet/Armlet3/BastiliaGate_sw/Server/NetworkLevel/Service References/ShipDamageService/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/HonorInterfaces" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:element name="ServerConnect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServerConnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAllSubsystemsStatuses">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HonorInterfaces" minOccurs="0" name="shipStatuses" nillable="true" type="q1:ArrayOfShipStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetAllSubsystemsStatusesResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DamageShip">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="shipGuid" type="q2:guid" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HonorInterfaces" minOccurs="0" name="subsystemStatus" nillable="true" type="q3:ShipSubsystemStatus" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DamageShipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DamageShipResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestroyShip">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="shipGuid" type="q4:guid" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestroyShipResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DestroyShipResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>