Armlet/Armlet3/BastiliaGate_sw/Server/NetworkLevel/Service References/ShipDamageService/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ShipDamageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBinding_IServerDamageContract_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/HonorInterfaces" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServerDamageContract_ServerConnect_InputMessage">
    <wsdl:part name="parameters" element="tns:ServerConnect" />
  </wsdl:message>
  <wsdl:message name="IServerDamageContract_ServerConnect_OutputMessage">
    <wsdl:part name="parameters" element="tns:ServerConnectResponse" />
  </wsdl:message>
  <wsdl:message name="IServerDamageContract_SetAllSubsystemsStatuses_InputMessage">
    <wsdl:part name="parameters" element="tns:SetAllSubsystemsStatuses" />
  </wsdl:message>
  <wsdl:message name="IServerDamageContract_SetAllSubsystemsStatuses_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetAllSubsystemsStatusesResponse" />
  </wsdl:message>
  <wsdl:message name="IServerDamageContract_DamageShip_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DamageShip" />
  </wsdl:message>
  <wsdl:message name="IServerDamageContract_DamageShip_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DamageShipResponse" />
  </wsdl:message>
  <wsdl:message name="IServerDamageContract_DestroyShip_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DestroyShip" />
  </wsdl:message>
  <wsdl:message name="IServerDamageContract_DestroyShip_InputCallbackMessage">
    <wsdl:part name="parameters" element="tns:DestroyShipResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IServerDamageContract">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ServerConnect">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerDamageContract/ServerConnect" message="tns:IServerDamageContract_ServerConnect_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerDamageContract/ServerConnectResponse" message="tns:IServerDamageContract_ServerConnect_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SetAllSubsystemsStatuses">
      <wsdl:input wsaw:Action="http://tempuri.org/IServerDamageContract/SetAllSubsystemsStatuses" message="tns:IServerDamageContract_SetAllSubsystemsStatuses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServerDamageContract/SetAllSubsystemsStatusesResponse" message="tns:IServerDamageContract_SetAllSubsystemsStatuses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DamageShip">
      <wsdl:output wsaw:Action="http://tempuri.org/IServerDamageContract/DamageShip" message="tns:IServerDamageContract_DamageShip_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IServerDamageContract/DamageShipResponse" message="tns:IServerDamageContract_DamageShip_InputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="DestroyShip">
      <wsdl:output wsaw:Action="http://tempuri.org/IServerDamageContract/DestroyShip" message="tns:IServerDamageContract_DestroyShip_OutputCallbackMessage" />
      <wsdl:input wsaw:Action="http://tempuri.org/IServerDamageContract/DestroyShipResponse" message="tns:IServerDamageContract_DestroyShip_InputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBinding_IServerDamageContract" type="tns:IServerDamageContract">
    <wsp:PolicyReference URI="#NetTcpBinding_IServerDamageContract_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="ServerConnect">
      <soap12:operation soapAction="http://tempuri.org/IServerDamageContract/ServerConnect" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAllSubsystemsStatuses">
      <soap12:operation soapAction="http://tempuri.org/IServerDamageContract/SetAllSubsystemsStatuses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DamageShip">
      <soap12:operation soapAction="http://tempuri.org/IServerDamageContract/DamageShip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DestroyShip">
      <soap12:operation soapAction="http://tempuri.org/IServerDamageContract/DestroyShip" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ShipDamageService">
    <wsdl:port name="NetTcpBinding_IServerDamageContract" binding="tns:NetTcpBinding_IServerDamageContract">
      <soap12:address location="net.tcp://localhost:8070/spaceDamage" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8070/spaceDamage</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>