Armlet/Armlet3/BastiliaGate_sw/SerialportGateDaemon/HonorSerialportGateConsole/Service References/ServerWCFService/service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="GateWcfService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="NetTcpBindingEndpoint_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1">
        </msb:BinaryEncoding>
        <wsaw:UsingAddressing>
        </wsaw:UsingAddressing>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/NetworkLevel.WCFServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGateWCFService_RegisterGate_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterGate" />
  </wsdl:message>
  <wsdl:message name="IGateWCFService_RegisterGate_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterGateResponse" />
  </wsdl:message>
  <wsdl:message name="IGateWCFService_TXCompleted_InputMessage">
    <wsdl:part name="parameters" element="tns:TXCompleted" />
  </wsdl:message>
  <wsdl:message name="IGateWCFService_ArmlteStatusUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:ArmlteStatusUpdate" />
  </wsdl:message>
  <wsdl:message name="IGateWCFService_ArmletSendsData_InputMessage">
    <wsdl:part name="parameters" element="tns:ArmletSendsData" />
  </wsdl:message>
  <wsdl:message name="IGateWCFService_PillConnectionStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:PillConnectionStatus" />
  </wsdl:message>
  <wsdl:message name="IGateWCFService_PillWriteCompleted_InputMessage">
    <wsdl:part name="parameters" element="tns:PillWriteCompleted" />
  </wsdl:message>
  <wsdl:message name="IGateWCFService_PillDataRead_InputMessage">
    <wsdl:part name="parameters" element="tns:PillDataRead" />
  </wsdl:message>
  <wsdl:message name="IGateWCFService_PinSet_InputMessage">
    <wsdl:part name="parameters" element="tns:PinSet" />
  </wsdl:message>
  <wsdl:message name="IGateWCFService_SendToArmlet_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendToArmlet" />
  </wsdl:message>
  <wsdl:message name="IGateWCFService_CheckIfPillConnected_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:CheckIfPillConnected" />
  </wsdl:message>
  <wsdl:message name="IGateWCFService_SendPillWrite_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendPillWrite" />
  </wsdl:message>
  <wsdl:message name="IGateWCFService_SendPillRead_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendPillRead" />
  </wsdl:message>
  <wsdl:message name="IGateWCFService_SendPinSignal_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendPinSignal" />
  </wsdl:message>
  <wsdl:message name="IGateWCFService_SendHeartbeat_OutputCallbackMessage">
    <wsdl:part name="parameters" element="tns:SendHeartbeat" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IGateWCFService">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="RegisterGate">
      <wsdl:input wsaw:Action="http://tempuri.org/IGateWCFService/RegisterGate" message="tns:IGateWCFService_RegisterGate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGateWCFService/RegisterGateResponse" message="tns:IGateWCFService_RegisterGate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="TXCompleted">
      <wsdl:input wsaw:Action="http://tempuri.org/IGateWCFService/TXCompleted" message="tns:IGateWCFService_TXCompleted_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ArmlteStatusUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/IGateWCFService/ArmlteStatusUpdate" message="tns:IGateWCFService_ArmlteStatusUpdate_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="ArmletSendsData">
      <wsdl:input wsaw:Action="http://tempuri.org/IGateWCFService/ArmletSendsData" message="tns:IGateWCFService_ArmletSendsData_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PillConnectionStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/IGateWCFService/PillConnectionStatus" message="tns:IGateWCFService_PillConnectionStatus_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PillWriteCompleted">
      <wsdl:input wsaw:Action="http://tempuri.org/IGateWCFService/PillWriteCompleted" message="tns:IGateWCFService_PillWriteCompleted_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PillDataRead">
      <wsdl:input wsaw:Action="http://tempuri.org/IGateWCFService/PillDataRead" message="tns:IGateWCFService_PillDataRead_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="PinSet">
      <wsdl:input wsaw:Action="http://tempuri.org/IGateWCFService/PinSet" message="tns:IGateWCFService_PinSet_InputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendToArmlet">
      <wsdl:output wsaw:Action="http://tempuri.org/IGateWCFService/SendToArmlet" message="tns:IGateWCFService_SendToArmlet_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CheckIfPillConnected">
      <wsdl:output wsaw:Action="http://tempuri.org/IGateWCFService/CheckIfPillConnected" message="tns:IGateWCFService_CheckIfPillConnected_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendPillWrite">
      <wsdl:output wsaw:Action="http://tempuri.org/IGateWCFService/SendPillWrite" message="tns:IGateWCFService_SendPillWrite_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendPillRead">
      <wsdl:output wsaw:Action="http://tempuri.org/IGateWCFService/SendPillRead" message="tns:IGateWCFService_SendPillRead_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendPinSignal">
      <wsdl:output wsaw:Action="http://tempuri.org/IGateWCFService/SendPinSignal" message="tns:IGateWCFService_SendPinSignal_OutputCallbackMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="SendHeartbeat">
      <wsdl:output wsaw:Action="http://tempuri.org/IGateWCFService/SendHeartbeat" message="tns:IGateWCFService_SendHeartbeat_OutputCallbackMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="NetTcpBindingEndpoint" type="tns:IGateWCFService">
    <wsp:PolicyReference URI="#NetTcpBindingEndpoint_policy">
    </wsp:PolicyReference>
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="RegisterGate">
      <soap12:operation soapAction="http://tempuri.org/IGateWCFService/RegisterGate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TXCompleted">
      <soap12:operation soapAction="http://tempuri.org/IGateWCFService/TXCompleted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ArmlteStatusUpdate">
      <soap12:operation soapAction="http://tempuri.org/IGateWCFService/ArmlteStatusUpdate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="ArmletSendsData">
      <soap12:operation soapAction="http://tempuri.org/IGateWCFService/ArmletSendsData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PillConnectionStatus">
      <soap12:operation soapAction="http://tempuri.org/IGateWCFService/PillConnectionStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PillWriteCompleted">
      <soap12:operation soapAction="http://tempuri.org/IGateWCFService/PillWriteCompleted" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PillDataRead">
      <soap12:operation soapAction="http://tempuri.org/IGateWCFService/PillDataRead" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="PinSet">
      <soap12:operation soapAction="http://tempuri.org/IGateWCFService/PinSet" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SendToArmlet">
      <soap12:operation soapAction="http://tempuri.org/IGateWCFService/SendToArmlet" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckIfPillConnected">
      <soap12:operation soapAction="http://tempuri.org/IGateWCFService/CheckIfPillConnected" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPillWrite">
      <soap12:operation soapAction="http://tempuri.org/IGateWCFService/SendPillWrite" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPillRead">
      <soap12:operation soapAction="http://tempuri.org/IGateWCFService/SendPillRead" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendPinSignal">
      <soap12:operation soapAction="http://tempuri.org/IGateWCFService/SendPinSignal" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendHeartbeat">
      <soap12:operation soapAction="http://tempuri.org/IGateWCFService/SendHeartbeat" style="document" />
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GateWcfService">
    <wsdl:port name="NetTcpBindingEndpoint" binding="tns:NetTcpBindingEndpoint">
      <soap12:address location="net.tcp://leo.local:8765/GateWcfService/honor" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://leo.local:8765/GateWcfService/honor</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Dns>leo.local</Dns>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>